{% block _appbundle_invoice_widget %}
    <h2>Mandatory parameters</h2>
    <div class="row">
        <div class="col-sm-4">
            <p>Select source quote (must be in state ACCEPTED)</p>
            {{ form_widget(form.quote) }}
        </div>
        <div class="col-sm-8" id="sectionsContainer">
            <p>Available sections in this quote</p>
            {{ form_widget(form.sections) }}
        </div>
    </div>

    <h2>Optional parameters</h2>
    <div class="row">
        <div class="col-lg-12">
            <p>Select quote amount percentage</p>
            {{ form_widget(form.percentage) }}

            <p>Select replacement text (will replace ALL sections and ALL items)</p>
            {{ form_widget(form.replacementText) }}
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12 text-right">
            {% set label = form.vars.value.id ? "Edit" : "Create" %}
            <input type="submit" value="{{ label }}" {{ value.id ? '' : ' disabled="disabled"' }}
                   class="btn btn-lg btn-default"/>
        </div>
    </div>

    <script type="text/javascript">
        var $quote = $('#{{ form.quote.vars.id }}');
        $quote.change(onQuoteChanged);
        $quote.prepend("<option value='' selected='selected' disabled='disabled'>Select quote</option>");

        function onQuoteChanged() {
            var $form = $(this).closest('form');
            var data = {};
            data[$quote.attr('name')] = $quote.val();

            $.ajax({
                url: $form.attr('action'),
                type: $form.attr('method'),
                data: data,
                success: function (html) {
                    $('#{{ form.sections.vars.id }}').replaceWith(
                        $(html).find('#{{ form.sections.vars.id }}')
                    );
                    $('div#{{ form.percentage.vars.id }}').remove();
                    $('input#{{ form.percentage.vars.id }}').replaceWith(
                        $(html).find('input#{{ form.percentage.vars.id }}')
                    );
                    $('#{{ form.percentage.vars.id }}').slider({tooltip: 'always'});

                    $('input[type=submit]').prop('disabled', false);
                }
            });
        }
    </script>
{% endblock %}

{% block _appbundle_invoice_sections_entry_widget %}
    <div class="checkbox">
        {{ form_widget(form) }}
    </div>
{% endblock %}

{% block _appbundle_invoice_percentage_widget %}
    <input type="text" id="{{ form.vars.id }}"
           name="{{ form.vars.full_name }}" {{ form.vars.required ? 'required="required"' : '' }}
           value="{{ form.vars.value }}" data-slider-id="{{ form.vars.id }}"
           data-slider-min="{{ attr['data-slider-min'] | default(0) }}"
           data-slider-max="{{ attr['data-slider-max'] | default(100) }}"
           data-slider-step="{{ attr['data-slider-step'] | default(1) }}"
           data-slider-value="{{ min(attr['data-slider-max'] | default(100), form.vars.value) | default(attr['data-slider-max'] | default(100)) }}"/>
    <script type="text/javascript">$('#{{ form.vars.id }}').slider({tooltip: 'always'});</script>
{% endblock %}

