{% extends 'base.html.twig' %}

{% block body %}
    <h1>Quote edit</h1>

    {{ form_start(edit_form) }}
    {% form_theme edit_form
    _self
    'bootstrap_3_layout.html.twig'
    'form/jquery.collection.html.twig'
    %}
    
    <h2>General information</h2>
    <div class="row">
        <div class="col-md-6">
            {{ form_row(edit_form.projectId) }}
            {{ form_row(edit_form.description) }}
            <div id="project_info">
                <hr>
                <h3><a id="project_name" data-redmine-url="{{ redmine_url }}"></a></h3>
                <p id="project_description"></p>
            </div>
        </div>
        <div class="col-md-6">
            {{ form_row(edit_form.customerId) }}

            <div id="customer_info">
                <p>
                    <strong>SIRET:</strong><br />
                <pre id="siret"></pre>
                </p>
                <p>
                    <strong>Address:</strong><br />
                <pre id="address"></pre>
                </p>
            </div>
        </div>
    </div>

    <div id="sections_container">
        <hr>
        <h2>Sections</h2>
        <div id="sections">
            {{ form_widget(edit_form.sections) }}
        </div>
    </div>

    <hr />

    <div class="row">
        <div class="col-xs-12 text-right">
            {{ form_widget(edit_form.submit) }}
        </div>
    </div>
        <input type="submit" value="Edit" />
    {{ form_end(edit_form) }}

    <ul>
        <li>
            <a href="{{ path('quote_index') }}">Back to the list</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
{% endblock %}

{% block javascripts %}
    <script type="application/javascript" src="{{ asset('js/quote.form.js') }}"></script>

    <script src="{{ asset('js/jquery.collection.js') }}"></script>
    <script src="{{ asset('js/jquery-ui.min.js') }}"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            loadProjectInfo('{{ path('customer_list') }}/{{  edit_form.projectId.vars.value }}', 'select#{{ edit_form.customerId.vars.id }}');
        });
        $(document).on('change', 'select#{{ edit_form.customerId.vars.id }}', function() {
            onCustomerSelected($(this), '{{ path('customer_info') }}');
        });

        $('.sections').collection({
            prototype_name: '{{ edit_form.sections.vars.prototype.vars.name }}',
            name_prefix: '{{ edit_form.sections.vars.full_name }}',
            allow_add: true,
            allow_remove: true,
            add_at_the_end: true,
            fade_in: true,
            fade_out: true,
            prefix: 'sections',
            init_with_n_elements: 1,
            up: '',
            down: '',
            add: '<a href="#" class="btn btn-default"><span class="glyphicon glyphicon-plus-sign"></span> Add section</a>',
            remove: '<a href="#" class="btn btn-default"><span class="glyphicon glyphicon-trash"></span> Remove section</a>',
            position_field_selector: '.section-position',
            drag_drop: true,
            children: [{
                selector: '.items',
                prototype_name: '{{  edit_form.sections.vars.prototype.items.vars.prototype.vars.name }}',
                name_prefix: '{{ edit_form.sections.vars.prototype.items.vars.full_name }}',
                init_with_n_elements: 1,
                fade_in: true,
                fade_out: true,
                up: '',
                down: '',
                add: '<a href="#" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-plus-sign"> Add new item in this section</span></a>',
                remove: '<a href="#" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-trash"></span></a>',
                position_field_selector: '.item-position',
                add_at_the_end: true,
                prefix: 'items'
            }]
        });
    </script>
{% endblock %}

{# This prevents the "0", "1", ... label from being printed before each section #}
{% block _appbundle_quote_sections_widget %}
    {% if form.vars.prototype is defined %}
        <div id="{{ form.vars.id }}" class="sections" data-prototype="{{ form_widget(form.vars.prototype)|e('html_attr') }}">
            {% for section in form %}
                {{ form_widget(section) }} {# print only the widget, not the label #}
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}

{% block _appbundle_quote_sections_entry_widget %}
    <div id="{{ form.vars.id }}" class="row with-3d-shadow" style="box-shadow: 5px 5px 10px #999; background: #eee; padding: 1em 0 0 1em;">
        <div class="col-md-2">
            {{ form_row(form.title) }}
            {{ form_row(form.rate) }}
            {{ form_widget(form.position) }}
            <div class="sections-actions" style="padding-bottom: 1em;"></div>
        </div>
        <div class="col-md-10">
            {{ form_widget(form.items) }}
        </div>
    </div>
    <hr>
{% endblock %}

{# This prevents the "0", "1", ... label from being printed before each section item #}
{% block _appbundle_quote_sections_entry_items_widget %}
    {% if form.vars.prototype is defined %}
        <div id="{{ form.vars.id }}" class="items" data-prototype="{{ form_widget(form.vars.prototype)|e('html_attr') }}">
            {% for item in form %}
                <div class="form-group ui-sortable-handle" style="background: {{ loop.index0 is even ? "#eee" : "#ddd" }}">
                    {{ form_widget(item) }} {# print only the widget, not the label #}
                </div>
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}

{% block _appbundle_quote_sections_entry_items_entry_widget %}
    <div class="row">
        <div class="col-xs-10">{{ form_row(form.description) }}</div>
        <div class="col-xs-2">
            {{ form_row(form.hours) }}
            {{ form_widget(form.position) }}
            <div class="items-actions"></div>
        </div>
    </div>
{% endblock %}
