{% extends 'base.html.twig' %}

{% block body %}
    <h1>Quotes list</h1>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Datecreation</th>
                <th>Dateedition</th>
                <th>Pdfpath</th>
                <th>Customer</th>
                <th>Projectid</th>
                <th>Description</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for quote in quotes %}
            <tr>
                <td><a href="{{ path('quote_show', { 'id': quote.id }) }}">{{ quote.id }}</a></td>
                <td>{{ quote.title }}</td>
                <td>{% if quote.dateCreation %}{{ quote.dateCreation|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if quote.dateEdition %}{{ quote.dateEdition|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ quote.pdfPath }}</td>
                <td>{{ quote.customerField('firstname') }} {{ quote.customerField('lastname') }}</td>
                <td>{{ quote.projectField('name') }}</td>
                <td>{{ quote.description }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('quote_show', { 'id': quote.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('quote_edit', { 'id': quote.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('quote_new') }}">Create a new quote</a>
        </li>
    </ul>
{% endblock %}
