{% extends 'base.html.twig' %}

{% block body %}
    <h1>Quotes list</h1>

    <table class="table table-hover">
        <thead>
            <tr>
                <th>#</th>
                <th>Identifier</th>
                <th>State</th>
                <th>Creation Date</th>
                <th>Customer</th>
                <th>Project</th>
                <th>Internal comments</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for quote in quotes %}
            <tr data-quote="{{ quote.id }}">
                <td><a href="{{ path('quote_show', { 'id': quote.id }) }}">{{ quote.id }}</a></td>
                <td>{{ quote.title }}</td>
                <td>{{ quote.state | readable_enum }}</td>
                <td>{% if quote.dateCreation %}{{ quote.dateCreation|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ quote.customerField('firstname') }} {{ quote.customerField('lastname') }}</td>
                <td>{{ quote.projectField('name') }}</td>
                <td>{{ quote.comments | markdown }}</td>
                <td>
                    <div class="btn-group" role="group">
                        <a class="btn btn-default" href="{{ path('quote_show', { 'id': quote.id }) }}">show</a>
                        <a class="btn btn-default" href="{{ path('quote_edit', { 'id': quote.id }) }}">edit</a>
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block navbar %}
    <ul class="nav navbar-nav navbar-right">
        <li>
             <a href="{{ path('quote_new') }}"><span class="glyphicon glyphicon-plus"></span> Create a new quote</a>
        </li>
    </ul>
{% endblock %}

{% block javascripts %}
    <script>
$(document).ready(function () {
    $('tr').on('dblclick', function() {
        document.location.href = '{{ path('quote_show', { 'id': '0' }) }}'.replace(/0$/, $(this).data('quote'));
    });
});
    </script>
{% endblock %}

