{% extends 'base.html.twig' %}

{% block body %}
    <h1>Quote creation</h1>

    {{ form_start(form) }}
    {% form_theme form
        'bootstrap_3_layout.html.twig'
        'form/jquery.collection.html.twig'
        _self
    %}

    <h3>Sections</h3>
    <div class="sections" data-prototype="{{ form_widget(form.sections.vars.prototype)|e('html_attr') }}">
        {{ form_widget(form.sections) }}
    </div>

    <h3>Other fields</h3>
    {{ form_row(form.projectId) }}
    {{ form_row(form.customerId) }}
    {{ form_row(form.description) }}

    <h3>The rest</h3>
        <input type="submit" value="Create" />
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('quote_index') }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}

{% block javascripts %}
    <script type="application/javascript" src="{{ asset('js/quote.form.js') }}"></script>

    <script src="{{ asset('js/jquery.collection.js') }}"></script>

    <script type="text/javascript">
        $('.sections').collection({
            prototype_name: '{{ form.sections.vars.prototype.vars.name }}',
            allow_add: true,
            allow_remove: true,
            name_prefix: '{{ form.sections.vars.full_name }}',
            fade_in: true,
            fade_out: true,
            drag_drop: true
        });
    </script>
{% endblock %}

{% block _appbundle_quote_sections_widget %}
    {% for section in form %}
        {{ form_widget(section) }}
        <hr>
    {% endfor %}
{% endblock %}

    {% block _appbundle_quote_sections_entry_widget %}
        <div class="row">
            <div class="col-md-8">
                {{ form_row(form.title) }}
            </div>
            <div class="col-md-2">
                {{ form_row(form.rate) }}
            </div>
            <div class="col-md-2">
                <div class="collection-actions"></div>
            </div>
        </div>
    {% endblock %}
