{% extends 'base.html.twig' %}

{% block body %}
    <h1>Quote creation</h1>

    {{ form_start(form) }}
    {% form_theme form
        _self
        'bootstrap_3_layout.html.twig'
        'form/jquery.collection.html.twig'
    %}

    <h2>General information</h2>
    <div class="row">
        <div class="col-md-6">
            {{ form_row(form.projectId) }}
            {% if project is not null %}
                <h3><a href="{{ redmineUrl }}/projects/{{ project['identifier'] }}">{{ project['name'] }}</a></h3>
                <p>{{ project['description'] }}</p>
                <hr>
                <p>
                    <strong>SIRET:</strong><br />
                    <pre id="siret"></pre>
                </p>
                <p>
                    <strong>Address:</strong><br />
                    <pre id="address"></pre>
                </p>
            {% endif %}
        </div>
        <div class="col-md-6">
            {{ form_row(form.customerId) }}
            {{ form_row(form.description) }}
        </div>
    </div>

    {% if project is not null %}
        <h2>Sections</h2>
        <div id="sections">
            {{ form_widget(form.sections) }}
        </div>
    {% else %}
        {{ form_widget(form.sections, {'attr': {'hidden': true}}) }}
    {% endif %}

    <hr />

    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('quote_index') }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
{% endblock %}

{% block javascripts %}
    {% if project is not null %}
        <script type="application/javascript" src="{{ asset('js/quote.form.js') }}"></script>

        <script src="{{ asset('js/jquery.collection.js') }}"></script>
        <script src="{{ asset('js/jquery-ui.min.js') }}"></script>

        <script type="text/javascript">
            $(document).on('change', 'select#{{ form.customerId.vars.id }}', function() {
                onCustomerSelected($(this), '{{ path('customer_info') }}');
            });

            $('.sections-collection').collection({
                {#prototype_name: '{{ form.sections.vars.prototype.vars.name }}',#}
                name_prefix: '{{ form.sections.vars.full_name }}',
                allow_add: true,
                allow_remove: true,
                add_at_the_end: true,
                fade_in: true,
                fade_out: true,
                prefix: 'sections',
                up: '',
                down: '',
                add: '<a href="#" class="btn btn-default"><span class="glyphicon glyphicon-plus-sign"></span> Add section</a>',
                remove: '<a href="#" class="btn btn-default"><span class="glyphicon glyphicon-trash"></span> Remove section</a>',
                drag_drop: true,
                children: [{
                    selector: '.items',
                    name_prefix: '{{ form.sections.vars.prototype.items.vars.full_name }}',
                    up: '',
                    down: '',
                    add: '<a href="#" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-plus-sign"> Add new item in this section</span></a>',
                    remove: '<a href="#" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-trash"></span></a>',
                    add_at_the_end: true,
                    prefix: 'items'
                }]
            });
        </script>
    {% endif %}
{% endblock %}

{# This prevents the "0", "1", ... label from being printed before each section #}
{% block _appbundle_quote_sections_widget %}
    {% if form.vars.prototype is defined %}
        <div id="form_sections" class="sections-collection" data-prototype="{{ form_widget(form.vars.prototype)|e('html_attr') }}">
            {% for section in form %}
                {{ form_widget(section) }} {# print only the widget, not the label #}
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}

{% block _appbundle_quote_sections_entry_widget %}
    <div id="form_sections_{{ name }}" class="row with-3d-shadow" style="box-shadow: 5px 5px 10px #999; background: #eee; padding: 1em 0 0 1em;">
        <div class="col-md-2">
            {{ form_row(form.title) }}
            {{ form_row(form.rate) }}
            <div class="sections-actions" style="padding-bottom: 1em;"></div>
        </div>
        <div class="col-md-10 items" id="form_sections_{{ name }}_items" data-prototype="{{ form_widget(form.items.vars.prototype)|e('html_attr') }}">
            {{ form_widget(form.items) }}
        </div>
    </div>
    <hr>
{% endblock %}

{# This prevents the "0", "1", ... label from being printed before each section item #}
{% block _appbundle_quote_sections_entry_items_widget %}
    {% for item in form %}
        <div class="form-group ui-sortable-handle" style="background: {{ loop.index0 is even ? "#eee" : "#ddd" }}">
            {{ form_widget(item) }} {# print only the widget, not the label #}
        </div>
    {% endfor %}
{% endblock %}

{% block _appbundle_quote_sections_entry_items_entry_widget %}
    <div class="row">
        <div class="col-xs-10">{{ form_row(form.description) }}</div>
        <div class="col-xs-2">
            {{ form_row(form.hours) }}
            <div class="items-actions"></div>
        </div>
    </div>
{% endblock %}
