<div class="private row">
    <div class="col-xs-12">
        <h3>Comments</h3>
        <p>{{ quote.comments | markdown }}</p>
    </div>
</div>

{% set privateClass = invoice.timeBilling ? '' : ' class="private"' %}

<table class="table table-bordered">
    <thead>
    <tr>
        <th>Section</th>
        <th>Désignation</th>
        <th{{ privateClass }}>Temps {{ invoice.timeBilling ? 'passé' : 'estimé' }}</th>
        <th class="text-right">Total H.T.</th>
    </tr>
    </thead>
    <tbody>
    {% set optionId = 0 %}
    {% for section in quote.sections %}
        {% for item in section.items %}
            <tr>
                {% if loop.index0 == 0 %}
                    <td class="col-md-2" rowspan="{{ section.items | length }}">
                        {% if section.option %}
                            {% set optionId = optionId + 1 %}
                            <strong>OPTION {{ "%d" | format(optionId) }}</strong><br/>
                        {% endif %}
                        {{ section.title }}
                    </td>
                {% endif %}
                <td class="col-md-8">
                    <div class="row">
                        <div class="col-md-12">
                            {{ item.description | markdown }}
                        </div>
                    </div>
                </td>
                <td{{ privateClass }}>{{ "%.2fh" | format(item.hours) }}</td>
                <td class="text-right col-md-2">{{ "%d €" | format(item.hours * section.rate) }}</td>
            </tr>
        {% endfor %}
        <tr>
            <th class="col-md-10 text-right" colspan="2">Total</th>
            <th{{ privateClass }}>{{ "%.2fh" | format(section.hours) }}</th>
            <th class="text-right col-md-2">{{ "%d €" | format(section.hours * section.rate) }}</th>
        </tr>
    {% endfor %}
    </tbody>
</table>
