<div class="row">
    <div class="col-md-12">
        <h1 align="center">DEVIS N°{{ quote.title }}</h1>
    </div>
</div>

{% if quote.description | length %}
    <div class="row">
        <div class="col-md-12">
            <h3>Description</h3>
            <div class="contact">{{ quote.description }}</div>
        </div>
    </div>
{% endif %}

<div class="row">
    <div class="col-lg-3">
        <div class="contact">Benoit Duffez
18, allée du Léon
35230 Bourgbarré

SIRET: 53879565900035</div>
    </div>
    <div class="col-lg-3 col-lg-offset-6 text-right">
        <div class="contact">{{ quote.customerField('firstname') }} {{ quote.customerField('lastname') }}
{{ quote.customerField('company_name') }}
            {{ quote.customerField('address') }}

            SIRET: {{ quote.customerField('siret') }}</div>
    </div>
</div>

<div class="row">
    <div class="col-md-12 text-right">
        {{ quote.dateEdition |date('d/m/Y') }}
    </div>
</div>

{% set quoteTotal = 0 %}
<table class="table table-bordered">
    <thead>
    <tr>
        <th>Section</th>
        <th>Désignation</th>
        <th class="text-right">Total H.T.</th>
    </tr>
    </thead>
    <tbody>
    {% for section in quote.sections %}
        {% set sectionTotal = 0 %}
        {% for item in section.items %}
            <tr>
                {% if loop.index0 == 0 %}
                    <td class="col-md-2" rowspan="{{ section.items | length }}">{{ section.title }}</td>
                {% endif %}
                <td class="col-md-8">
                    <div class="row">
                        <div class="col-md-12">
                            {{ item.description | markdown }}
                            {% set sectionTotal = sectionTotal + item.hours * section.rate %}
                        </div>
                    </div>
                </td>
                <td class="right col-md-2">{{ "%d €" | format(item.hours * section.rate) }}</td>
            </tr>
        {% endfor %}
        {% set quoteTotal = quoteTotal + sectionTotal %}
        <tr>
            <th class="col-md-10 right" colspan="2">Total</th>
            <th class="right col-md-2">{{ "%d €" | format(sectionTotal) }}</th>
        </tr>
    {% endfor %}
    </tbody>
</table>

<table class="table table-bordered">
    <tr>
        <td><h3>Total H.T.</h3></td>
        <td class="text-right"><h3>{{ "%d €" | format(quoteTotal) }}</h3></td>
    </tr>
    <tr>
        <td>T.V.A. 0%, non applicable, article 293B du CGI</td>
        <td class="text-right">{{ "%d €" | format(0) }}</td>
    </tr>
    <tr>
        <th><h2>Net à payer</h2></th>
        <th class="text-right"><h2>{{ "%d €" | format(quoteTotal) }}</h2></th>
    </tr>
</table>

<table class="table table-bordered">
    <tr>
        <th>Paiement</th>
    </tr>
    <tr>
        <td>Paiement par chèque à l'ordre de Benoit Duffez, ou par virement bancaire: FR76 4061 8802 7000 0402 3381 234</td>
    </tr>
</table>
