<div class="row">
    <div class="col-md-12">
        <h1 align="center">DEVIS N°{{ quote.title }}</h1>
    </div>
</div>

{% if quote.description | length %}
    <div class="row">
        <div class="col-md-12">
            <h3>Description</h3>
            <div class="contact">{{ quote.description }}</div>
        </div>
    </div>
{% endif %}

<div class="row">
    <div class="col-md-4">
        <div class="contact">Benoit Duffez
18, allée du Léon
35230 Bourgbarré

SIRET: 53879565900035</div>
    </div>
    <div class="col-md-4 col-md-offset-4 text-right">
        <div class="contact">{{ quote.customerField('firstname') }} {{ quote.customerField('lastname') }}
{{ quote.customerField('company_name') }}
            {{ quote.customerField('address') }}

            SIRET: {{ quote.customerField('siret') }}</div>
    </div>
</div>

{% set quoteTotal = 0 %}
{% set quoteHours = 0 %}
{% set optionId = 0 %}
{% set quoteOptionsTotal = {} %}
{% set quoteOptionsHours = {} %}
<table class="table table-bordered">
    <thead>
    <tr>
        <th>Section</th>
        <th>Désignation</th>
        <th class="private">Temps estimé</th>
        <th class="text-right">Total H.T.</th>
    </tr>
    </thead>
    <tbody>
    {% for section in quote.sections %}
        {% set sectionTotal = 0 %}
        {% set sectionHours = 0 %}
        {% for item in section.items %}
            <tr>
                {% if loop.index0 == 0 %}
                    <td class="col-md-2" rowspan="{{ section.items | length }}">
                        {% if section.option %}
                            <strong>OPTION {{ "%d" | format(optionId + 1) }}</strong><br />
                        {% endif %}
                        {{ section.title }}
                    </td>
                {% endif %}
                <td class="col-md-8">
                    <div class="row">
                        <div class="col-md-12">
                            {{ item.description | markdown }}
                            {% set sectionTotal = sectionTotal + item.hours * section.rate %}
                            {% set sectionHours = sectionHours + item.hours %}
                        </div>
                    </div>
                </td>
                <td class="private">{{ "%.2fh" | format(item.hours) }}</td>
                <td class="text-right col-md-2">{{ "%d €" | format(item.hours * section.rate) }}</td>
            </tr>
        {% endfor %}
        {% if section.isOption %}
            {% set quoteOptionsTotal = quoteOptionsTotal | merge({(optionId): sectionTotal}) %}
            {% set quoteOptionsHours = quoteOptionsHours | merge({(optionId): sectionHours}) %}
            {% set optionId = optionId + 1 %}
        {% else %}
            {% set quoteTotal = quoteTotal + sectionTotal %}
            {% set quoteHours = quoteHours + sectionHours %}
        {% endif %}
        <tr>
            <th class="col-md-10 text-right" colspan="2">Total</th>
            <th class="private">{{ "%.2fh" | format(sectionHours) }}</th>
            <th class="text-right col-md-2">{{ "%d €" | format(sectionTotal) }}</th>
        </tr>
    {% endfor %}
    </tbody>
</table>

<table class="table table-bordered">
    <tr>
        <td><h3>Total H.T. {{ optionId > 0 ? "(socle)" : "" }}</h3></td>
        <td class="private">Temps estimé</td>
        <td class="text-right"><h3>{{ "%d €" | format(quoteTotal) }}</h3></td>
    </tr>
    {% if optionId > 0 %}
        {% for total in quoteOptionsTotal %}
            <tr>
                <td><h2>Tarif option {{ loop.index }}</h2></td>
                <td class="private">{{ "%.2f h" | format(quoteOptionsHours[loop.index0]) }}</td>
                <td class="text-right"><h2>{{ "%d €" | format(total + quoteTotal) }}</h2></td>
            </tr>
        {% endfor %}
    {% else %}
        <tr>
            <th><h2>Net à payer</h2></th>
            <td class="private">{{ "%.2f sem (à 15h / sem)" | format(quoteHours / 15) }}</td>
            <th class="text-right"><h2>{{ "%d €" | format(quoteTotal) }}</h2></th>
        </tr>
    {% endif %}
    <tr>
        <td>T.V.A. 0%, non applicable, article 293B du CGI</td>
        <td class="private">{{ "%.2f h" | format(quoteHours) }}</td>
        <td class="text-right">{{ "%d €" | format(0) }}</td>
    </tr>
</table>

<table class="table table-bordered">
    <tr>
        <th>Paiement</th>
    </tr>
    <tr>
        <td>Paiement par chèque à l'ordre de Benoit Duffez, ou par virement bancaire: FR76 4061 8802 7000 0402 3381 234</td>
    </tr>
    <tr>
        <th>Modalités</th>
    </tr>
    <tr>
        <td>
            <p>
                La facture est payable sous 30 jours.<br />
                Tout règlement effectué après expiration du délai donnera lieu, à titre de pénalité de retard, à l'application d'un intérêt égal à celui appliqué par la Banque Centrale Européenne à son opération de refinancement la plus récente, majoré de 10 points de pourcentage, ainsi qu'à une indemnité forfaitaire pour frais de recouvrement d'un montant de 40 Euros.<br />
                Les pénalités de retard sont exigibles sans qu'un rappel soit nécessaire.
            </p>
        </td>
    </tr>
</table>
