{% extends 'base.html.twig' %}

{% block body %}

    {{ include(':quote:show_body.html.twig') }}

    <hr>

    <p align="center">
        SIRET : 538 795 659 00035<br />
        Dispensé d’immatriculation au registre du commerce et des sociétés (RCS) en application de l'article L.123-1-1 du Code du Commerce TVA non applicable, art. 293 B du CGI
    </p>

{% endblock %}

{% block stylesheets %}
    {{ include(':quote:show_head.html.twig') }}
{% endblock %}

{% block navbar %}
    <ul class="nav navbar-nav">
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Quote actions <span class="caret"></span></a>

            <ul class="dropdown-menu">
    <li>
        <a href="{{ path('quote_edit', {'id': quote.id}) }}" title="Edit">
            <span class="glyphicon glyphicon-edit"></span>
            Edit
        </a>
    </li>

    <li>
        <a href="{{ path('quote_edit', {'id': quote.id}) }}" title="Download PDF">
            <span class="glyphicon glyphicon-download-alt"></span>
            Download PDF
        </a>
    </li>

    <li>
        <a href="{{ path('quote_upload_redmine', {'id': quote.id}) }}" title="Export to Redmine">
            <span class="glyphicon glyphicon-share"></span>
            Export to Redmine
        </a>
    </li>

            </ul>
        </li>
    </ul>

    {{ form_start(delete_form, {'attr': {'class': 'navbar-form navbar-right'}}) }}
        <button class="btn btn-danger" type="submit" value="Delete">
            <span class="glyphicon glyphicon-trash"></span>&nbsp;
        </button>
    {{ form_end(delete_form) }}
{% endblock %}
