<h1 class="text-center">Facture N°{{ invoice.title }}</h1>

<div class="row">
    <div class="col-md-12 text-right">{{ invoice.billingDate | date('d/m/Y') }}</div>
</div>

<div class="row">
    <div class="col-md-4">
        <div class="contact">Benoit Duffez
            18, allée du Léon
            35230 Bourgbarré

            SIRET: 53879565900035</div>
    </div>
    <div class="col-md-4 col-md-offset-4 text-right">
        <div class="contact">{{ invoice.quote.customerField('firstname') }} {{ invoice.quote.customerField('lastname') }}
            {{ invoice.quote.customerField('company_name') }}
            {{ invoice.quote.customerField('address') }}

            SIRET: {{ invoice.quote.customerField('siret') }}</div>
    </div>
</div>

{% if invoice.replacementText | length %}

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Désignation</th>
                <th class="text-right">Total H.T.</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="col-md-8">
                    {{ invoice.replacementText | markdown}}
                </td>
                <td class="col-md-4 text-right">{{ "%d €" | format(invoice.total) }}</td>
            </tr>
        </tbody>
    </table>
{% else %}
    {% set quote = invoice.quote %}
    {{ include(':quote:show_main_table.html.twig') }}
{% endif %}

<table class="table table-bordered">
    <tr>
        <th class="col-lg-8">Total</th>
        <td class="col-lg-4 text-right">{{ "%d €" | format(invoice.total) }}</td>
    </tr>
    <tr>
        <td>T.V.A. non applicable, art 293B du C.G.I</td>
        <td class="text-right">{{ "%d €" | format(0) }}</td>
    </tr>
    {% for prev in invoice.quote.invoices %}
        {% if prev.id != invoice.id and prev.billingDate < invoice.billingDate %}
            <tr>
                <td><strong>Facture {{ prev.title }}</strong>
                    émise le {{ prev.billingDate | date('d/m/Y') }} pour {{ "%.0f %%" | format(prev.percentage) }} du total</td>
                <td class="text-right"><strong>{{ "%d €" | format(- prev.percentage/100 * invoice.total) }}</strong></td>
            </tr>
        {% endif %}
    {% endfor %}
    <tr>
        <td>
            <h3>Net à payer</h3>
            {% if invoice.percentage < 100 %}
                <p>{{ "%.0f %%" | format(invoice.percentage) }} du total</p>
            {% endif %}
        </td>
        <td class="text-right"><h3>{{ "%d €" | format(invoice.percentage/100 * invoice.total) }}</h3></td>
    </tr>
</table>

<table class="table table-bordered">
    <tr>
        <th>Paiement</th>
    </tr>
    <tr>
        <td>Paiement par chèque à l'ordre de Benoit Duffez, ou par virement bancaire: FR76 4061 8802 7000 0402 3381 234</td>
    </tr>
</table>

<table class="table table-bordered">
    <tr>
        <th>Modalités</th>
    </tr>
    <tr>
        <td>
            <p>
                La facture est payable sous 30 jours.<br />
                Tout règlement effectué après expiration du délai donnera lieu, à titre de pénalité de retard, à l'application d'un intérêt égal à celui appliqué par la Banque Centrale Européenne à son opération de refinancement la plus récente, majoré de 10 points de pourcentage, ainsi qu'à une indemnité forfaitaire pour frais de recouvrement d'un montant de 40 Euros.<br />
                Les pénalités de retard sont exigibles sans qu'un rappel soit nécessaire.
            </p>
        </td>
    </tr>
</table>
